<h1 class="mt-3 text-center">Editar Perfil del paciente</h1>

<div class="container" [formGroup]="pacienteForm">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="mb-3" form-group>
                <label class="form-Label">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" [value]="paciente.nombre" [class]="isValidField('nombre')"/>
                <div *ngIf="!pacienteForm.get('nombre')?.valid" class="invalid-feedback">
                    <div *ngIf="pacienteForm.get('nombre')?.hasError('required')">Es requerido</div>
                    <div *ngIf="pacienteForm.get('nombre')?.hasError('minlength')">Debe tener 4 caracteres al menos</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3" form-group>
                <label class="form-Label">Email</label>
                <div class="div input-group">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" formControlName="email" class="form-control" [value]="paciente.email" [class]="isValidField('email')"/>
                    <div *ngIf="!pacienteForm.get('email')?.valid" class="invalid-feedback">
                        <div *ngIf="pacienteForm.get('email')?.hasError('required')">Es requerido</div>
                        <div *ngIf="pacienteForm.get('email')?.hasError('email')">Debe tener formato de email</div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="mb-3" form-group>
                <label class="form-Label">Password</label>
                <input type="password" formControlName="password" class="form-control" [value]="paciente.password" [class]="isValidField('password')"/>
                <div *ngIf="!pacienteForm.get('password')?.valid" class="invalid-feedback">
                    <div *ngIf="pacienteForm.get('password')?.hasError('required')">Es requerido</div>
                    <div *ngIf="pacienteForm.get('password')?.hasError('minlength')">Debe tener 8 caracteres al menos</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3" form-group>
                <label class="form-Label">Dirección</label>
                <input type="text" formControlName="direccion" class="form-control" [value]="paciente.direccion" [class]="isValidField('direccion')"/>
                <div *ngIf="!pacienteForm.get('direccion')?.valid" class="invalid-feedback">
                    <div *ngIf="pacienteForm.get('direccion')?.hasError('required')">Es requerido</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="mb-3" form-group>
                <label class="form-Label">Código Postal</label>
                <input type="text" formControlName="codigoPostal" class="form-control" [value]="paciente.codigoPostal" [class]="isValidField('codigoPostal')"/>
                <div *ngIf="!pacienteForm.get('codigoPostal')?.valid" class="invalid-feedback">
                    <div *ngIf="pacienteForm.get('codigoPostal')?.hasError('pattern')">Está formado por 5 dígitos</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3" form-group>
                <label class="form-Label">Teléfono</label>
                <input type="text" formControlName="telefono" class="form-control" [value]="paciente.telefono" [class]="isValidField('telefono')"/>
                <div *ngIf="!pacienteForm.get('telefono')?.valid" class="invalid-feedback">
                    <div *ngIf="pacienteForm.get('telefono')?.hasError('pattern')">Está formado por 9 dígitos</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="mb-3" form-group>
                <label class="form-Label">Número de la seguridad social</label>
                <input type="text" formControlName="numSeguridadSocial" class="form-control" [value]="paciente.numSeguridadSocial" [class]="isValidField('numSeguridadSocial')"/>
                <div *ngIf="!pacienteForm.get('numSeguridadSocial')?.valid" class="invalid-feedback">
                    <div *ngIf="pacienteForm.get('numSeguridadSocial')?.hasError('required')">Es requerido</div>
                    <div *ngIf="pacienteForm.get('numSeguridadSocial')?.hasError('minlength')">Debe tener 9 caracteres al menos</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3" form-group>
                <label class="form-Label">Fecha de nacimiento</label>
                <div class="div input-group">
                    <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" formControlName="fechaNacimiento" class="form-control" [class]="isValidField('fechaNacimiento')"/>
                    <mat-datepicker #picker></mat-datepicker>
                    <span class="input-group-text">
                        <button (click)="picker.open()"><i class="bi-calendar-date"></i></button>
                    </span>
                    <div *ngIf="!pacienteForm.get('fechaNacimiento')?.valid" class="invalid-feedback">
                        <div *ngIf="pacienteForm.get('fechaNacimiento')?.hasError('required')">Es requerido</div>
                     </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-1">
            <button class="btn btn-outline-primary btn-block" (click)="onSubmit()">Enviar</button>
        </div>
    </div>
</div>
