<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4">
            <div class="card border-info mb-3">
                <div class="card-header">
                    <h4 class="card-title">Perfil paciente<i class="bi-person-circle d-none d-xl-block" style="font-size: 2rem; color: cornflowerblue;margin-left: 12rem;"></i></h4> 
                </div>
                <div class="card-body">   
                    <p class="card-text">Muestra y edita tu perfil de paciente</p>
                </div>
                <a class="btn btn-primary" routerLink="/perfil">Ir a Perfil </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-info mb-3">
                <div class="card-header">
                    <h4 class="card-title">Lista de citas <i class="bi-list-check d-none d-xl-block" style="font-size: 2rem; color: cornflowerblue;margin-left: 12rem;"></i></h4>              
                </div>
                <div class="card-body">
                    <p class="card-text">Muestra la lista de citas con los facultativos</p>
                </div>
                <a class="btn btn-primary" routerLink="/citas">Ir a lista de citas</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-info mb-3">
                <div class="card-header">
                    <h4 class="card-title">Pedir una cita <i class="bi-calendar-date d-none d-xl-block" style="font-size: 2rem; color: cornflowerblue;margin-left: 12rem;"></i></h4>              
                </div>
                <div class="card-body">
                    <p class="card-text">Solicitas una nueva cita</p>
                </div>
                <a class="btn btn-primary" routerLink="/pedirCita">Ir a pedir cita</a>
            </div>
        </div>
        
    </div>
</div>
